@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
// Reset browser
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    background: #f3e8f0;
    width: 100%; 
}
a {
    text-decoration: none;
}
.main-container {
    background: #f3e8f0;
}
.navigation {
    height: 100px;
    margin-bottom: 2rem;
    /* border: 1px dotted purple; */

    &__menu {
        /* background: #b87284; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem 0 0.5rem;
        height: 100px;
    }
    &__menu img {
        height: 6rem;
    }
    &__menu i {
        font-size: 3rem;
        color: black;
    }  
}

.carte {
    height: 460px;
    transform: scale(1);
    transition: all 0.3s;
    background: #763d4d;
    color: white;
    /* border-radius: 15px; */

    &:hover {
        transform: scale(1.015);
        cursor: pointer;  
    }
    & img {
        height: 60%;
        object-fit: cover;
        object-position: 50% center;
        /* border-radius: 15px 15px 0 0; */
    }
    &-title{
        font-weight: 900;
    }
}
.carte-static {
    min-height: 500px;
    position: relative;
    background: #763d4d;
    color: white;

    & h2 {
        text-align: center;
        font-size: 3rem;
    }
}
#image-pres {
    width: 100%;
    object-fit: cover;
    /* object-position: 50% center; */
}

